*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    color: #777;
}

.container {
    background-color: #eee;
}

.btn {
    border: none;
    color: white;
    padding: 1rem;
    margin: 1rem;
    background-color: green;
}

.container-notification {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 3rem;
    font-size: 1.2rem;
}